<div class="container text-center">
  <h1>Welcome to BlogWebApp</h1>
  <p>
    This project is created by <a href="http://iti.gov.eg/" target="_blank">ITI </a>
    students - intake@40, credit goes to
    <a href="https://github.com/atefhares" target="_blank">A.H.</a>
  </p>

</div>

