<% @posts.each do |post| %>
  <div class="card md-12 mb-3">
    <div class="card-body">
      <h5 class="card-title"> <%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <% if current_user.email != post.user.email %>
        <p class="card-text">author: <%= post.user.name %> |  <%= post.user.email %></p>
      <% else %>
        <p class="card-text">author: you</p>
      <% end %>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<% end %>